<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exercise 6.4.4</title>
</head>
<body style="text-align: center;">
    
    <h1 id=topName>Intel Processors</h1>

    <br>

    <p>Choose one of the three intel processors, which you want to display (i.e. i3, i5 or i7)</p>
    <br>
    <input type="text" id="processorField" name="name"  minlength="5" maxlength="10" size="25" style="text-align: center;" >
    <br>
    <br>
    
    <button id="displayButton">Display</button>

    <br>
    <p id="outputText"></p>
    <img id="processorPicture" src="">

    <script>
    //start coding here
    </script>

</body>
</html>