<!DOCTYPE html>
<html lang=en>
    <head>
        <title>
            Exercise 5.4.6 Dice
        </title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="dice_style.css">
    </head>
    
    <body style="text-align: center;">
    
        <h1 id="topName">DICE GAME</h1>
        <h2 id="diceSum">Sum of the two dices is 12 </h2>
    
        <br></br>
    
        <img id="dice1" src="Dice_Pics/Dice_6.png"></img>
        <img id="dice2" src="Dice_Pics/Dice_6.png"></img>
    
        <br></br>
    
        <button id="rollButton">Roll dice</button>
        <script src="5_4_6_Exercise.js"></script>
    </body>
</html>