
            #topName{
                color: red;
                font-size: 80px;
            }
    
            #button{
                font-size: 25px;
            }
    
            #dice1 {
                text-align: center;
                display: inline-block;
                width: 300px;
                height: 300px;
                margin: 10px;
            }
            #dice2 {
                text-align: center;
                display: inline-block;
                width: 300px;
                height: 300px;
                margin: 10px;
            }
