<!DOCTYPE html>
<html lang=en>
    <head>
    <title>Exercise 3.8.1 </title>
    <meta charset="UTF-8">
    </head>
    <body>
        <h2>JS Fundamentals</h2>
        <script>
        //user input for shape type
        let shape = prompt("What is the shape you want to calculate the perimeter?")
        if(shape=="rectangle"){
        // write here the code to calculate the perimeter of a rectangle
        //...
        }
        else{
        // write here the code to calculate the perimeter of a rectangle 
        //...
        }
        </script>
    </body>
</html>