<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Exercise 4.2.1</title>
    </head>
    <body>
        <img id="fox" src="Pictures/Fox.png" style="position:absolute;">
        <button onclick="hide()"> Hide</button>
        <script>
            //1) Ask the user for the dimensions

            //change the width & height of fox accordingly

            //2) change the position of the fox to the top right

            //3) Ask the user for the background color
        
            //change the background of the image

            //4)function to let the fox dissapear
            function hide()
            {
                //code here to let the fox disappear
                //...
            }

            //5)create a second function to make the fox visible again




        </script>
    </body>
</html>