<!DOCTYPE html>
</html lang=en>
    <head>
        <title>Exercise 4.3.1 </title>
        <link rel="stylesheet" href="style.css">
        <meta charset="UTF-8">
    </head>
    <body style="text-align: center;">
        <h1>
            Manipulation of HTML elements
        </h1>
        <h2 id=imageCaption>
            Winter Image
        </h2>
        <img id= "imageSeason" src="Pictures/Winter.jpg" width = "400" height="300">
        <p id="oldText"> Click the button to display different manipulations of HTML elements.</p>
        <button onclick="showBox()">Click me!</button>
        <script>
            function showBox() {
                //Write here your code what should happen when the button is clicked!
                //...
            }
        </script>
    </body>
</html>