<!DOCTYPE html>
</html lang=en>
<head>
    <title>Exercise 4.3.2 Solution</title>
    <meta charset="UTF-8">
</head>
<body>
    <h2>Calculator</h2>
    <p id="calcText" ;></p>
    <img id="imageShape" width="200" height="200">
    <script>
        let shape = prompt("What is the shape you want to calculate the perimeter?")
        if (shape == "rectangle") {
            //write here your code for the rectangle
        }
        else if (shape == "circle") {
            //write here your code for the circle
        }
    </script>
</body>
</html>