<!DOCTYPE html>
</html lang=en>
    <head>
    <title>Exercise 7.3.6 Sum-up </title>
    <meta charset="UTF-8">
    </head>
    <body>
        <h1>Sum-up</h1>
        <form>
            Provide a number : <input type="number" id="aNumber" /><br>
            <input type="button" id="cButton" Value="Calculate" />
            </form>
            <p>The result is : <br>
            <span id = "result"></span>
            </p>
        <script>
           //start coding here           
        </script>
    </body>
</html>