<!DOCTYPE html>
<html lang=en>
	<head>
		<title>Exercise 6.4.6 Monkey</title>
		<meta charset=UTF-8>
	<body>
		<button id="buttonLeft"><</button>
		<button id="buttonRight">></button>
		<button id="buttonUp">^</button>
		<button id="buttonDown">v</button>
		<img src=gorilla236x256.png id="gorillaImage">
		<script>
			'use strict';

			let gorilla;

			function init(){
				gorilla = document.getElementById('gorillaImage');
				document.getElementById("buttonLeft").addEventListener("click", moveLeft);
				document.getElementById("buttonRight").addEventListener("click", moveRight);
				document.getElementById("buttonUp").addEventListener("click", moveUp);
				document.getElementById("buttonDown").addEventListener("click", moveDown);
				gorilla.style.cssText = "position: relative; top: 0; left: 0";
			}

			function moveRight(){
				const x = parseInt(gorilla.style.left);
				gorilla.style.left = x + 10 + 'px';
			}

			function moveLeft(){
				const x = parseInt(gorilla.style.left);
				gorilla.style.left = x - 10 + 'px';
			}

			function moveUp () {
				const y = parseInt(gorilla.style.top);
				gorilla.style.top = y - 10 + 'px';
			}

			function moveDown () {
				const y = parseInt(gorilla.style.top);
				gorilla.style.top = y + 10 + 'px';
			}
			addEventListener('load', init);
		</script>
	</head>
	</body>
</html>